:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #ffc2e6;
  --filling-color: #FFEEF6;
  --complementary-color: #ff8dcb;
  --text-color: #353430;
  --color-theme-menu: #353430;
  --color-subtitle: #353430;
  --complementary-text-color: #353430;
}

.theme-light .page .header .decorative__element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #ffc2e6;
    --filling-color: #FFEEF6;
    --complementary-color: #ff8dcb;
    --text-color: #353430;
    --color-theme-menu: #353430;
    --color-subtitle: #353430;
    --complementary-text-color: #353430;
  }

  .theme-auto .page .header .decorative__element {
    display: none;
  }
}
