.page {
  position: relative;
  font-family: var(--font-family);
  font-size: 1.125em;
  background-color: var(--filling-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  block-size: max(668px, 100vh);
}

.decorative__element {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--color-dec-el);
  text-transform: uppercase;
}

.decorative__element::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-dec-el);
  background-color: var(--color-dec-el);
  block-size: 9px;
  inline-size: 9px;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--color-theme-menu);
  border-block-start: 1px solid var(--color-theme-menu);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--color-theme-menu);
  border-block-end: 1px solid var(--color-theme-menu);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  min-width: 70px;
  min-height: 98px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  border: none;
  color: var(--color-theme-menu);
  font-family: var(--font-family);
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(from var(--color-theme-menu) r g b / 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-theme-menu);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-theme-menu);
  cursor: default;
  pointer-events: none;
}

.title {
  align-self: center;
  color: var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--complementary-color);
}

.title-decor {
  align-self: center;
  height: min-content;
  color: var(--complementary-text-color);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;
  background-color: var(--complementary-color);
}

.content__section {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.title__section {
  color: var(--color-subtitle);
  font-size: 1.125rem;
  line-height: 130%;
}

.content__wrapper {
  display: grid;
  gap: 20px;
}

.text-content {
  margin-block-start: 10px;
  color: var(--text-color);
  line-height: 130%;
}

.text-content-link {
  text-decoration: none;
  text-shadow: 2px 1px var(--complementary-color);
  cursor: pointer;
}

.text-content-link:hover {
  text-decoration: underline;
}

.text-content-link:focus {
  outline: none;
}

.text-content-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.title-decor-accent {
  font-weight: 400;
}

.gallery {
  gap: 10px;
}

.gallery__wrapper {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: max(668px, 100vh);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--complementary-color);
}

@media (width >= 768px) {
  .header {
    padding: 0;
    block-size: max(1024px, 100vh);
  }

  .decorative__element {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    margin-inline-end: 20px;
    margin-block-start: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .title-decor {
    justify-self: end;
    align-self: center;
    width: calc(50% - 20px);
    margin-inline-end: 20px;
    margin-block-end: 20px;
  }

  .content__section {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content__wrapper {
    grid-column: 2 / -1;
  }

  .content__wrapper__full__inline-size {
    grid-column: 1 / -1;
  }

  .gallery > .title-decor {
    grid-column: 1 / -1;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    gap: 20px;
  }

  .gallery__image:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__image:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__image:nth-child(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header {
    block-size: max(768px, 100vh);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    min-width: 70px;
    min-height: 98px;
    margin-inline-end: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__wrapper__full__inline-size {
    grid-template-columns: repeat(3, 1fr);
  }
}
